
.article-main-container {
    display: flex;
    justify-content: center;
}

.article-card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-basis: auto;

    border: yellow 2px solid; /*//////////////////////DELETE AFTER TESTING/////////////////////////////*/
}

.article-card {
    max-width: 180px;
    height: 285px;
    margin: 5px;
}

.main-content {
    margin: 0px;
}

/*
.card-title{
    color: black;
}
.card-body{
    padding: 0px;
}
.card-image-top{
   padding: 10px;
}
*/
