
#changeword{

   background-color:  #8a8a8a;
}

#passbutton {

    background-color: rgb(0,117,160);
}
#passbutton:hover {
    background: rgb(0,71,111);
}
#passbutton:active {

    color: #ffffff;
    background-color: rgb(0,71,111);
    border-color: #494F57;
}
