
.profiles {

    color: #000;
    display: flex;
    height:100vh;
    align-items: center;
}



.jumbotron {

    min-width: 300px;
    background: #fff;
    color: #000;
}
.profileheader {
    color: #000;
}

