
#addbtn {

    position:relative;
    float:left;
}

#deletebtn {
    position: relative;
    float: right;
}

.usermanagement-body
 {
    margin: 8px;
    padding: 8px;
    color: whitesmoke;
}

.usermanagement-table
{
    flex-grow: 1;
}

.modal-confirm-user-delete{

}
#reverse {
    position:relative;
    float:right;
}