.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(15px + 0vmin);
  color: white;
}


.container {
  display: flex;
  justify-content: flex-start;
}

.flex-nav-form {
  display: flex;
  align-self: center;
  flex-direction: row;
}

.event-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #6fcc6a;
  color: #000000;
  padding: 5px;
}

.event-text {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  font-size: calc(15px + 0vmin);
  color: #000000;
}